$ff-mont: 'Montserrat', sans-serif;

$dark-grey: #4e5150;
$light-gray: #a9a9a9;
$bg-gray: #e5e5e5;
$footer-gray: #b9bdcf;

$fw600: 600;
$fw700: 700;

$fs14: 0.875rem;
$fs12: 0.75rem;
$fs10: 0.625rem;

$fs24: 1.5rem;
$fs18: 1.125rem;
